tiktoken==0.4.0
langchain==0.0.305
Package                 Version
----------------------- ------------
archspec                0.2.1
bcrypt                  4.1.2
boltons                 23.0.0
Brotli                  1.0.9
certifi                 2023.7.22
cffi                    1.15.1
charset-normalizer      2.0.4
conda                   23.10.0
conda-content-trust     0.2.0
conda-libmamba-solver   23.11.1
conda-package-handling  2.2.0
conda_package_streaming 0.9.0
cryptography            41.0.3
idna                    3.4
jsonpatch               1.32
jsonpointer             2.1
libmambapy              1.5.3
numpy                   1.26.2
packaging               23.1
pandas                  2.1.4
paramiko                3.3.1
pip                     23.3
pluggy                  1.0.0
pycosat                 0.6.6
pycparser               2.21
PyNaCl                  1.5.0
pyOpenSSL               23.2.0
PySocks                 1.7.1
python-dateutil         2.8.2
pytz                    2023.3.post1
requests                2.31.0
ruamel.yaml             0.17.21
setuptools              68.0.0
six                     1.16.0
tqdm                    4.65.0
truststore              0.8.0
tzdata                  2023.3
urllib3                 1.26.18
wheel                   0.41.2
zstandard               0.19.0
